a {
    text-decoration: none;
}

.recipe-element-container {
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
}

.recipe-name {
    font-size: 20px;
    letter-spacing: 1px;
}

.buttons {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
    &__edit {
        text-decoration: none;
    }
}