.header {
  display: flex;
  justify-content: space-between;
  background-color: #184bc4;

  &__title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    align-self: center;
    padding: 20px;
    margin: 0;
    color: #fff;
  }

  &__author-info-popup {
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self: center;
    margin-right: 20px;
  }
}
