<h3>{{ formTitle }}</h3>
<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="form">
  <mat-form-field appearance="fill">
    <mat-label for="name">Name</mat-label>
    <input matInput type="text" formControlName="name" />
    <mat-hint
      style="color: red"
      *ngIf="
        recipeForm.controls['name'].touched &&
        !recipeForm.controls['name'].valid
      "
      >Name is required</mat-hint
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="preparationTime">Preparation time in minutes</mat-label>
    <input matInput type="number" formControlName="preparationTime" />
    <mat-hint
      style="color: red"
      *ngIf="
        recipeForm.controls['preparationTime'].touched &&
        !recipeForm.controls['preparationTime'].valid
      "
      >Preparation time is required</mat-hint
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="description">Description</mat-label>
    <textarea
      name="description"
      id=""
      cols="6"
      rows="1"
      formControlName="description"
      matInput
    ></textarea>
    <mat-hint
      style="color: red"
      *ngIf="
        recipeForm.controls['description'].touched &&
        !recipeForm.controls['description'].valid
      "
      >Description is required</mat-hint
    >
  </mat-form-field>

  <div formArrayName="ingredients">
    <div
      *ngFor="let ingredientCtrl of ingredients.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field appearance="fill">
        <mat-label for="name">Ingredient</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="fill" style="margin: 0 15px">
        <mat-label for="name">Quantity</mat-label>
        <input matInput type="text" formControlName="quantity" />
      </mat-form-field>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="onDeleteIngredient(i)"
      >
        X
      </button>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onAddIngredient()"
      style="margin: 10px 0"
    >
      Add Ingredient
    </button>
  </div>
  <hr />
  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!recipeForm.valid"
      style="margin: 10px 0"
    >
      {{ btnSubmitTitle }}
    </button>
    <button
      class="button"
      type="button"
      mat-raised-button
      color="warn"
      *ngIf="editMode"
    >
      Cancel
    </button>
  </div>
</form>
