<a mat-raised-button class="new-recipe" routerLink="new">New recipe</a>

<h2 class="recipes-list-title">List of recipes</h2>

<mat-form-field [formGroup]="searchForm" class="recipes-list__search">
  <mat-label>Search</mat-label>
  <input type="text" formControlName="search" matInput />
</mat-form-field>

<section class="recipes-list__container">
  <ul *ngIf="recipes$ | async as recipes">
    <ng-container *ngIf="recipes.length > 0; else emptyState">
      <ng-container *ngFor="let recipe of recipes">
        <li>
          <app-recipes-list-element [recipe]="recipe"></app-recipes-list-element>
        </li>
      </ng-container>
    </ng-container>
  </ul>
  <ng-template #emptyState>
    <mat-card>
      <mat-card-title> There is no data. </mat-card-title>
    </mat-card>
  </ng-template>
</section>
