.main-container {
  display: flex;
  height: calc(100vh - 60px);

  &__recipes-list {
    flex-basis: 30%;
    padding: 15px 20px;
    background-color: #9edfff;
    height: 100%;
  }

  &__recipe {
    flex-basis: 70%;
    padding: 15px 30px;
  }
}
