html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.snackbar-success {
  background-color: darkgreen;
  color: white;
}

.snackbar-fail {
  background-color: darkred;
  color: white;
}